<!doctype html>
<html>
    <head>
        <title>Music Taste</title>
        <link rel="stylesheet" href="style.css" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Raleway:800|Roboto+Condensed&display=swap" rel="stylesheet">
    </head>

    <body>
        <div class="container">
            <h1 id="musicTasteSmallTitle">Music Taste</h1>
            <p class=smallText>Your Spotify libraries are</p><p class="largeText" id="percentResult"><span style="color:#a84356;font-size:85px;font-weight:800"><%=percentage%>% </span>similar</p>
            <p class="smallText">Albums in Common:</p>
            <ul id=list class="smallerText"><%similarList.forEach(function(album){%><li><%=album.name %> - <%= album.artist%></li><%});%></ul>

        </div>


    </body>
</html>
