<!--
Isabella Forman
August 2019
Music Taste
results.ejs
-->

<!doctype html>
<html>
    <head>
        <title>Music Taste</title>
        <link rel="stylesheet" href="style.css" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Raleway:800|Roboto+Condensed&display=swap" rel="stylesheet">
    </head>

    <body>
        <div class="thinBar colorThin"></div>
        <div class="bar colorThick"></div>
        <div class="container">
            <h1 id="musicTasteSmallTitle">Music Taste</h1>
            <p class="smallText colorAltText" id="spotifyLibrariesAre">Your Spotify libraries are</p><p class="largeText" id="percentResult"><span style="color:#DD614A;font-size:85px;font-weight:800"><%=percentage%>% </span>similar</p>
            <div class="colorCard" id="cardResults">
                <p class="colorAltText" id="commonAlbums">Albums in Common:</p>
                <ul id="list" class="smallerText colorAltText"><%similarList.forEach(function(album){%><li><%=album.name %> - <%= album.artist%></li><%});%></ul>
            </div>
        </div>
    </body>
</html>
