<!--
Isabella Forman
August 2019
Music Taste
second.ejs
-->

<!doctype html>
<html>
    <head>
        <title>Music Taste</title>
        <link rel="stylesheet" href="style.css" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Raleway:800|Roboto+Condensed&display=swap" rel="stylesheet">
    </head>

    <body>
        <div class="thinBar colorThin"></div>
        <div class="bar colorThick"></div>
        <div class="container">
            <h1 id="musicTasteSmallTitle">Music Taste</h1>
            <p class="medText colorAltText" id="successSecond">Your friend has successfully logged in. Let's get their music.</p>
            <div id="second">
                <a href="/top5Second" class="buttonTaste colorAltButton" id="yourTaste">WHAT'S YOUR FRIEND'S MUSIC TASTE?</a>
            </div>
        </div>


        <script>
            (function() {
                var spotifyId = '';
                var myNumAlbums = 0;

                /**
                 * Obtains parameters from the hash of the URL
                 * @return Object
                 */
                function getHashParams() {
                    var hashParams = {};
                    var e, r = /([^&;=]+)=?([^&;]*)/g,
                    q = window.location.hash.substring(1);
                    while ( e = r.exec(q)) {
                        hashParams[e[1]] = decodeURIComponent(e[2]);
                    }
                    return hashParams;
                }

                var params = getHashParams();

                var access_token = params.access_token,
                    refresh_token = params.refresh_token,
                    error = params.error;

                if (error) {
                    alert('There was an error during the authentication for second user');
                } else {
                    if (access_token) {
                        $.ajax({
                            url: 'https://api.spotify.com/v1/me',
                            headers: {
                                'Authorization': 'Bearer ' + access_token
                            },
                            success: function(response) {
                                spotifyId = response.id;
                            }
                        });
                    } else {
                        console.log("Error with access_token");
                    }
                }
            })();
        </script>

    </body>
</html>
