<!--
Isabella Forman
August 2019
Music Taste
top5Second.ejs
-->

<!doctype html>
<html>
    <head>
        <title>Music Taste</title>
        <link rel="stylesheet" href="style.css" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Raleway:800|Roboto+Condensed&display=swap" rel="stylesheet">
        <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
    </head>

    <body>

        <div id="top5Section">
            <div class="thinBar colorThin"></div>
            <div class="bar colorThick"></div>
            <div class="container">
                <h1 id="musicTasteSmallTitle">Music Taste</h1>
                <div class="card colorCard">
                    <p class="smallText colorAltText" id="topArtistsSecond">Your Friend's Top Artists:</p>
                    <ol id="listTop5Second" class="smallerText colorAltText"><%top5List.forEach(function(artist){%><li><%=artist%></li><%});%></ol>
                </div>
                <p class="smallText">Ready to find out your music taste compatibility?</p>
                <div id="second">
                    <div class="buttonTaste colorAltButton" id="compare">COMPARE SPOTIFY LIBRARIES</div>
                </div>
            </div>
        </div>

        <div id="resultsSection">
            <div class="thinBar colorThin"></div>
            <div class="bar colorThick"></div>
            <div class="container">
                <h1 id="musicTasteSmallTitle">Music Taste</h1>
                <p class="smallText colorAltText" id="spotifyLibrariesAre">Your Spotify libraries are</p><p class="largeText" id="percentResult"><span id="percentNum" style="color:#DD614A;font-size:85px;font-weight:800"></span>similar</p>
                <div class="colorCard" id="cardResults">
                    <p class="colorAltText" id="commonAlbums">Albums in Common:</p>
                    <ul id="list" class="smallerText colorAltText"></ul>
                </div>
            </div>
        </div>


        <script>
            $("#compare").click(function() {
                var albumsFirst = localStorage.getItem("firstUser");

                $.ajax({
                    url: '/albumsSecond',
                    type: 'POST',
                    data: albumsFirst,
                    contentType: 'application/json',
                    success: function(result) {
                        var data = result;
                        var ul = document.getElementById("list");

                        for (var i = 0; i < result.similarList.length; i++) {
                            var li = document.createElement("li");
                            li.textContent = result.similarList[i].name + " by " + result.similarList[i].artist;
                            ul.appendChild(li);
                        }

                        document.getElementById("percentNum").innerHTML = result.percentage + "% ";

                        $('#top5Section').hide();
                        $('#resultsSection').show();
                        localStorage.clear();
                    },
                    error: function(error) {
                        console.log("Error: ", error)
                    }
                })
            });
        </script>
    </body>
</html>
