<!--
Isabella Forman
August 2019
Music Taste
top5First.ejs
-->

<!doctype html>
<html>
    <head>
        <title>Music Taste</title>
        <link rel="stylesheet" href="style.css" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Raleway:800|Roboto+Condensed&display=swap" rel="stylesheet">
    </head>

    <body>
        <div class="thinBar"></div>
        <div class="bar"></div>
        <div class="container">
            <h1 id="musicTasteSmallTitle">Music Taste</h1>
            <div class="card">
                <p class="smallText" id="topArtistsFirst">Your Top Artists:</p>
                <ol id="listTop5First" class="smallerText"><%top5List.forEach(function(artist){%><li><%=artist%></li><%});%></ol>
            </div>

            <p class="smallText">Now let's have your friend log in!</p>
            <p class="smallerText" id="clickInstrTop5">(On the next page, scroll down to click "Agree")</p>
            <div id="switch">
                <a href="/loginSecond" class="buttonLogin" id="friendLogin">FRIEND LOGIN TO SPOTIFY!</a>
            </div>
        </div>
    </body>
</html>
