<!--
Isabella Forman
August 2019
Music Taste
top5First.ejs
-->

<!doctype html>
<html>
    <head>
        <title>Music Taste</title>
        <link rel="stylesheet" href="style.css" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Raleway:800|Roboto+Condensed&display=swap" rel="stylesheet">
    </head>

    <body>
        <div class="thinBar colorThin"></div>
        <div class="bar colorThick"></div>
        <div class="container">
            <h1 id="musicTasteSmallTitle">Music Taste</h1>
            <div class="card colorCard">
                <p class="smallText colorAltText" id="topArtistsFirst">Your Top Artists:</p>
                <ol id="listTop5First" class="smallerText colorAltText"><%top5List.forEach(function(artist){%><li><%=artist%></li><%});%></ol>
            </div>

            <p class="smallText">Now let's have your friend log in!</p>
            <p class="smallerText" id="clickInstrTop5">(On the next page, click "Not you?" to let your friend sign in with their account. Then scroll down to click "Agree")</p>
            <div id="switch">
                <a href="/loginSecond" class="buttonLogin colorThick" id="friendLogin">FRIEND LOGIN TO SPOTIFY!</a>
            </div>
        </div>

        <script>
            if (typeof(Storage) !== "undefined") {
                console.log("YEAHHH support for storage");
                var data = <%- albumsFirst %>
                console.log("in here");
                console.log("albumsFirst: ", data);

                for (var key in data) {
                    console.log("key: ", key);
                    // skip loop if the property is from prototype
                    if (!data.hasOwnProperty(key)) continue;

                    var val = data[key];
                    console.log("value: ", val);
                    localStorage.setItem(key, JSON.stringify(val));
                }

                var getVal = localStorage.getItem("0LncwHODjl9isM9pzVmuOS");
                console.log("getVal: ", getVal);
            } else {
                throw console.error("Error, this browser doesn't support localStorage");
            }

        </script>

    </body>
</html>
