<!doctype html>
<html>
    <head>
        <title>Music Taste</title>
        <link rel="stylesheet" href="style.css" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Raleway:800|Roboto+Condensed&display=swap" rel="stylesheet">
    </head>

    <body>
        <div class="container">
            <h1 id="musicTasteSmallTitle">Music Taste</h1>
            <p class="smallText">Cool music taste ;)</p>
            <p class="smallText">Your Top Artists:</p>
            <div class="centerList">
                <ol id="listTop5" class="smallerText"><%top5List.forEach(function(artist){%><li><%=artist%></li><%});%></ol>
            </div>

            <p class="smallText">Now let's have your friend log in! (On the next page, scroll down to click "Agree")</p>
            <div id="switch">
                <a href="/loginSecond" class="buttonLogin" id="friendLogin">Friend login to Spotify!</a>
            </div>
        </div>


    </body>
</html>
