/* Isabella Forman
 * August  2019
 * Music Taste
 * style.css
 */

/*
Color palette:
#adc7a9 - green
#628C5C - dark green
#214a1b - very dark green
#661e2b - prune
#FFE2E2 - misty rose
#ffa6ac - coral
*/


body {
    background-color: #adc7a9;
}




/* Buttons */
.buttonTaste {
    margin-bottom: 100px;
    border-color: #661e2b;
    background-color: #661e2b;
    border-radius: 25px;
    padding: 20px;
    width: 270px;
    height: 70px;
    cursor:pointer;

    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    color: white;
}

.buttonLogin {
    margin-bottom: 100px;
    border-color: #FFE2E2;
    background-color: #FFE2E2;
    border-radius: 25px;
    padding: 20px;
    width: 270px;
    height: 70px;
    cursor:pointer;

    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    color: black;
}
#yourLogin, #myTaste, #yourTaste {
    position: relative;
    top: 50px;
}
#friendLogin, #compare {
    position: relative;
    top: 20px;
}




/* Text */
#musicTasteTitle {
    color: 'black';
    font-family: 'Raleway', sans-serif;
    font-size: 95px;
    padding-bottom: 80px;
}
#musicTasteSmallTitle {
    color: 'black';
    font-family: 'Raleway', sans-serif;
    font-size: 75px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#list {
    list-style-type: none;
    text-align: center;
}
#listTop5First, #listTop5Second {
    /* list-style-type: none; */
    text-align: center;
}
ol {
    list-style-position: inside;
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-left: 0px;
    line-height: normal;
    color: white;
    padding-bottom: 50px;
}
ul {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-left: 0px;
    line-height: normal;
}
.largeText {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 55px;
    color: #214a1b;
    padding-top: 10px;
    padding-bottom: 10px;
}
.medText {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 40px;
    color: #214a1b;
    padding-top: 10px;
    padding-bottom: 10px;
}
.smallText {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.smallerText {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 500px;
}
a {
    text-decoration: none;
}
#percentResult {
    color: #661e2b
}
#clickInstrIndex {
    margin-top: 80px;
    margin-bottom: 5px;
}
#successSecond {
    padding-top: 100px;
}
#topArtistsFirst, #topArtistsSecond {
    padding-top: 30px;
    color: white;
}





/* Containers */
.container {
    text-align: center;
    font-size: 1px;
    line-height: 0;
}
.card {
    width: 400px;
    background-color: #214a1b;
    border-radius: 10px;
    text-align: center;
    display: inline-block;
}
#cardResults {
    width: 600px;
    background-color: #fff8ed;
    border-radius: 10px;
    text-align: center;
    display: inline-block;
}





/* Pages */
#login, #loggedin {
    display: none;
}
